body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
}

a {
    text-decoration-line: none;
    color: #555
}
a:hover {
    color: #121212
}

.header {
    background-color: red;
    text-align: center;
    margin-left : 100px;
    margin-right : 100px;
}
.content {
    background-color: bisque;
    padding: 20px;
    padding-left: 100px;
    margin-left: 200px;
    margin-right: 200px;
    
}
.answer {
    background-color: rgb(196, 255, 232);
    padding-left: 50px;
}