body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    background-color: black;
    color: white;
    margin: 50px;
    padding: 0;

}

a {
    color: darkred;
    text-decoration: none;
}

a:hover {
    color: pink;
}

h2 {
    text-align: center;
    font-size:30px;
}

button {
    position: relative;
}

h3 {
    text-align: justify;
    font-size: 20px;
    line-height:30px;
}

.header {
    font-size: 30px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    text-shadow: 3px 3px red;
    color: black;
    background-color: black;
}

.content {
    background-color: rgb(31, 31, 31);
    margin-right: 120px;
    margin-left: 120px;
    margin-top: 10px;
    border-radius: 20px;
    padding: 20px;
    display: grid;
}

.answer {
    background-color: rgb(50, 50, 50);
    margin-left: 120px;
    border-radius: 20px ;
    padding: 20px;
    margin: 10px;
    display: grid;
}

.buttons {
    display: inline;
    margin: auto;
}
div.buttons > a {
    margin: 10px;
}
.vote {
    display: grid;
    height: 90px;
    margin: auto 10px auto 0 ;
    text-align: center;
}

.message-box {
    display: inline-flex
}

p {
    color: rgb(177, 177, 177);
    font-size: 10px;
}

.center {
    margin: auto;
    width: 50%;
}