{% extends 'layout.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='list.css') }}" />
        <form role="search">
            <div class="search-control">
                <input type="search" id="site-search" name="q"
                placeholder="Search...">
                <button>Search</button> <br>
                
            </div> 
        </form>
        <form method="GET" name= "condition" action="/sorted/{{condition}}">
            <div>
                <label for="condition">Order by:</label>
                <select>
                        <option selected value="submission_time">submission time</option>
                        <option value="vote_number">votes</option>
                        <option value="view_number">views</option> 
                      </select>
                      <button type="submit">GO</button>
                    </form>
            </div>   
       

<div class="content">

    {% for question in questions %}
        <h2><a href="/question/{{question['id']}}"> Q - {{ question["title"] }}</h2></a>
        <div class="buttons">
            <p  class="buttons">{{ question["vote_number"] }}</p>
            
            <form class="buttons" action="/question/{{question['id']}}/vote-up">
                <button type="submit">Vote Up</button>
            </form>
            
            <form class="buttons" action="/question/{{question['id']}}/vote-down">
                <button type="submit">Vote Down</button>
            </form>
            
            <form class="buttons" action="/question/{{question['id']}}/new-answer">
                <button type="submit">Answer question</button>
            </form>
            
            <form class="buttons" action="/question/{{question['id']}}/delete">
                <button type="submit">Delete question</button>
            </form>
        </div>
        <a href="/question/{{question['id']}}/edit"><button>Edit</button></a>
        <p><h3>{{ question["message"] }}</h3></p>
        <div class="answer">
            {% for answer in answers %}
                {% if answer["question_id"] == question["id"] %}
                    <p><b>A</b>----->{{ answer["message"] }}</p>
                    <div class="buttons">

                        <p>{{ answer["vote_number"]}}</p>

                        <form class="buttons" action="/answer/{{answer['id']}}/vote-up">
                            <button type="submit">Vote Up</button>
                        </form>

                        <form class="buttons" action="/answer/{{answer['id']}}/vote-down">
                            <button type="submit">Vote Down</button>
                        </form>

                        <form class="buttons" action="/answer/{{answer['id']}}/delete">
                            <button type="submit">Delete answer</button>
                        </form>
                        
                    </div>
                {% endif %}
            {% endfor %}
       </div>
       <hr>
    {% endfor %}
</div>
{% endblock %}