{% extends 'layout.html' %}

{% block content %}
        <form role="search">
            <div class="search-control">
                <input type="search" id="site-search" name="q"
                placeholder="Search...">
                <button>Search</button>
            </div>    
        </form>

    {% for question in questions %}

        <div class="content">
            <a href="/question/{{question['id']}}"><h2> {{ question["title"] }}</h2></a>
            <div class="message-box">
                <div class="vote">
                        <a href="/question/{{question['id']}}/vote-up"><img src="{{ url_for('static', filename='1arrow_up.png') }}"></a>
                        
                            {{ question["vote_number"] }}
                        
                        <a href="/question/{{question['id']}}/vote-down"><img src="{{ url_for('static', filename='1arrow_down.png') }}"></a>
                </div>
            
                {% if question_id %}

                    <h3>{{ question["message"]}}...</h3>

                {% else %}

                    <h3>{{ question["message"][:300] }}...</h3>

            {% endif %}
            </div>

                    
                {% if question_id %}
                    <div class="buttons">
                        <form class="buttons" action="/question/{{question['id']}}/new-answer">
                            <button type="submit">Answer question</button>
                        </form>

                        <form class="buttons" action="/question/{{question['id']}}/delete">
                            <button type="submit">Delete question</button>
                        </form>

                        <a href="/question/{{question['id']}}/edit"><button>Edit</button></a>
                    </div>
                {% else %}
                        <p>Answers: {{ question["answer_number"] }}</p>
                {% endif %}
                    

            
                {% for answer in answers %}
                
                    {% if answer["question_id"] == question["id"] %}
                    <div class="answer">
                        <div class="vote">
                                <a href="/answer/{{answer['id']}}/vote-up"><img src="{{ url_for('static', filename='1arrow_up.png') }}"></a>
                                
                                    {{ answer["vote_number"] }}
                                
                                <a href="/answer/{{answer['id']}}/vote-down"><img src="{{ url_for('static', filename='1arrow_down.png') }}"></a>
                        </div>
                        {{ answer["message"] }}
                        <div class="buttons">
                            <form class="buttons" action="/answer/{{answer['id']}}/delete">
                                <button type="submit">Delete answer</button>
                            </form>    
                        </div>
                    </div>
                    {% endif %}
                
                {% endfor %}
        
        </div>
    {% endfor %}
{% endblock %}