{% extends 'layout.html' %}

{% block content %}
<div class="new_question">
    <form action="{{ url_for('post_new_question') }}">
        <button type="submit">Post a new question</button>
    </form>
</div>
<div class="content">
    {% for question in questions %}
        <h2><a href="/question/{{question['id']}}"> Q - {{ question["title"] }}</h2></a>
        <form action="/question/{{question['id']}}/new-answer">
            <button type="submit">Answer question</button>
        </form>
        <form action="/question/{{question['id']}}/delete">
            <button type="submit">Delete question</button>
        </form>
       <p><h3>&nbsp &nbsp &nbsp &nbsp {{ question["message"] }}</h3></p>
       <div>
            {% for answer in answers %}
                {% if answer["question_id"] == question["id"] %}
                    <p><b>A</b>----->{{ answer["message"] }}</p>
                    <form action="/answer/{{answer['id']}}/delete">
                        <button type="submit">Delete answer</button>
                    </form>
                {% endif %}
            {% endfor %}
       </div>
       <hr>
    {% endfor %}
</div>
{% endblock %}