{% extends 'layout.html' %}
{% block content %}
<h2>Hello Guest, please register your account.</h2>

<form action="/new_user" method="POST">
    <div>
        <label for="nick">Your nickname:</label>
    </div>
    <div>
        <textarea name="nick" maxlength="30" rows=2 cols=30 placeholder="Type here your nickname"></textarea>
    </div>
    <div>
        <button type='submit'>Register!</button>
    </div>
</form>       
<form action='/list' method="GET">
    <button>Back to main page</button>
</form>

{% endblock %}>